html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    
    background: #252525;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 75px;

    gap: 925px;

    background: #252525;
}
.logo {
    width: 150px;
    height: 75px;
    
    background: url(logo);
}
.logoAUTH {
    width: 50px;
    height: 50px;

    background: url(logoAUTH.png);
}
.logoEN {
    width: 30px;
    height: 30px;

    background: url(logoEN.png);
}
.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;
}
.header-button {
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: #252525;
}
#logoEN-button {
    width: 30px;
    height: 30px;
}
#logoAUTH-button {
    width: 50px;
    height: 50px;
}

.header-button:hover {
    background-color: #353535;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(150,150,150,0.50), 0 17px 50px 0 rgba(150,150,150,0.50);
}
.header-button:active {
    transform: translateY(1px);
}



.downloads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    top: 75px;
    
    background: #FAFAFA;
}
.download-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    gap: 20px;
    
    position: absolute;
    width: 1175px;
    height: 75px;
    
    background: #FAFAFA;
}
.download-buttons {
    text-align: left;
    padding-left: 20px;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #252525;
}
.download-text {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}
.download-buttons:hover {
    background-color: #353535;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(150, 150, 150, 0.20), 0 17px 50px 0 rgba(150, 150, 150, 0.20);
}
.download-buttons:active {
    transform: translateY(1px);
}
#download-WIN {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: -1px;

    background: url(PNG/logoWIN.png);
}
#download-ANDROID {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -9px;
    margin-left: 5px;

    background: url(PNG/logoANDROID.png);
}



.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 300px;
    top: 150px;
    
    background-image:url(rutPhoto.png)
}
.rutPhoto {
    width: 100%;
    height: 100%;
}



.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    position: absolute;
    width: 100%;
    height: 400px;
    top: 450px;
    
    background: #252525;
}
.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    position: absolute;
    width: 1200px;
    height: 400px;
    gap: 75px;
    
    background: #252525;
}
.infobox {
    width: 550px;
    height: 300px;

    background: #202020;
    border: 10px solid #FFFFFF;
}
#infobox1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#infobox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#aboutUS {
    position: absolute;
    font-size: 50px;
    font-weight: 500;

    position: absolute;
    margin-left: 20px;
    margin-bottom: 200px;

    color: #ffffff;
}
#instruction {
    position: absolute;
    font-size: 40px;
    font-weight: 500;

    margin-bottom: 200px;
    color: #ffffff;
}
.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-top: 175px;
    
    position: absolute;
    width: 500px;
    height: 50px;
}
#authorization {
    width: 200px;
    height: 50px;

    background: #252525;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
#registration {
    width: 200px;
    height: 50px;

    background: #252525;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
.footer-button-text {
    font-size: 20px;
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: 300;
}
.footer-button:hover {
    background-color: #353535;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(150, 150, 150, 0.50), 0 17px 50px 0 rgba(150, 150, 150, 0.50);
}
.footer-button:active {
    transform: translateY(1px);
}



footer {
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 100px;
    top: 2150px;
    
    background: #353535;
}
.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 1200px;
    height: 100px;

    gap: 725px;

    background: #353535;
}
.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;
}
.footer-button {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: #353535;
}
.footer-button:hover {
    background-color: #454545;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(150,150,150,0.50), 0 17px 50px 0 rgba(150,150,150,0.50);
}
.footer-button:active {
    transform: translateY(1px);
}
.icons{
    width: 50px;
    height: 50px;
}