html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}



.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 975px;
    
    position: absolute;
    width: 100%;
    height: 100px;
    
    background: #252525;
}
.header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 100px;
}
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    
    width: 150px;
    height: 75px;
}
#logo {
    width: 200px;
    height: 100px;
    
    background: url(PNG/logo_white.png);
}
#lang_button {
    width: 50px;
    height: 50px;

    background: url(PNG/logoEN.png);
}
#auth_button {
    width: 75px;
    height: 75px;

    background: url(PNG/logoAUTH.png);
}
.header_buttons {
    border-radius: 50%;
    border: none;
    background-color: #252525;
}
.header_buttons:hover {
    background-color: #353535;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgb(150, 150, 150), 0 17px 50px 0 rgba(150, 150, 150, 0.20);
}
.header_buttons:active {
    transform: translateY(1px);
}



.download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 925px;
    
    position: absolute;
    width: 100%;
    height: 100px;
    top: 100px;
    
    background: #fafafa;
}
.download-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    
    width: 425px;
    height: 50px;
}
.download_buttons {
    text-align: left;
    padding-left: 20px;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #252525;
}
.download-text {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}
.download_buttons:hover {
    background-color: #353535;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgb(150, 150, 150), 0 17px 50px 0 rgba(150, 150, 150, 0.20);
}
.download_buttons:active {
    transform: translateY(1px);
}
.download-WIN {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: -1px;

    background: url(PNG/logoWIN.png);
}
.download-ANDROID {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -9px;
    margin-left: 5px;

    background: url(PNG/logoANDROID.png);
}



.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 300px;
    top: 200px;
    
    background-image:url(rutPhoto.png)
}
.rutPhoto {
    width: 100%;
    height: 100%;
}



.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 125px;
    
    position: absolute;
    width: 100%;
    height: 500px;
    top: 500px;
    
    background: #202020;
}



.footerbox {
    position: relative;
    width: 600px;
    height: 300px;

    background: #202020;
    border: 10px solid #FFFFFF;
}
.aboutUS {
    position: absolute;
    font-size: 56px;
    font-weight: 500;

    margin-top: 25px;
    margin-left: 25px;
    color: #ffffff;
}



.instruction {
    position: absolute;
    font-size: 40px;
    font-weight: 500;

    margin-top: 30px;
    margin-left: 150px;
    color: #ffffff;
}
.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 45px;
    top: 200px;
    
    position: absolute;
    width: 500px;
    height: 50px;
}
#authorization {
    width: 200px;
    height: 50px;

    background: #252525;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
#registration {
    width: 200px;
    height: 50px;

    background: #252525;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
.footer-button-text {
    font-size: 20px;
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: 300;
}
.footer-button:hover {
    background-color: #353535;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgb(150, 150, 150), 0 17px 50px 0 rgba(150, 150, 150, 0.20);
}
.footer-button:active {
    transform: translateY(1px);
}



.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 300px;
    gap: 975px;
    
    position: absolute;
    width: 100%;
    height: 100px;
    top: 1000px;
    
    background: #252525;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    color: #fff;
    margin-right: 1050px;
    margin-bottom: 150px;
}
#imageText {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    color: #fff;
    margin-left: 100px;
    margin-bottom: 140px;
}