html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    
    background: #FAFAFA;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 75px;

    gap: 925px;

    background: #FAFAFA;
}
.logo {
    width: 150px;
    height: 75px;
    
    background: url(logo);
}
.logoAUTH {
    width: 50px;
    height: 50px;

    background: url(logoAUTH.png);
}
.logoEN {
    width: 30px;
    height: 30px;

    background: url(logoEN.png);
}
.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;
}
.header-button {
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: #FAFAFA;
}
#logoEN-button {
    width: 30px;
    height: 30px;
}
#logoAUTH-button {
    width: 50px;
    height: 50px;
}

.header-button:hover {
    background-color: #DDDDDD;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(150,150,150,0.50), 0 17px 50px 0 rgba(150,150,150,0.50);
}
.header-button:active {
    transform: translateY(1px);
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 185px;
    
    position: absolute;
    width: 100%;
    height: 75px;
    top: 75px;
    
    background: #252525;
}
.nav-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.nav-text:hover {
    color: #505050;
    transition: 0.2s;
}



.announcements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 150px;

    background: #FAFAFA;
}
.announcements-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2,400px) ;
    grid-auto-flow: column;
    
}
.announcements-container-item{
    text-align: center;
    color: white;
    
    padding: 40px;
    
}

.article-short{
    position: relative;
    height: calc(100% + 10px);
    width: calc(100%+10px);
    
    color: #000;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 1.44;
    
}
.article-short p{
    line-height: 1.44;
    color: #000;
    
}
.article-short h2{
    line-height: 1.44;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.announcements-container-item img{
    width: 100px;
    height: 100px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: auto;
    top: 1150px;

    background: #252525;
}
.services-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 1000px;

    gap: 0px;

    background: #252525;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 100%;
    height: 100px;
    top: 2150px;
    
    background: #353535;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100px;

    gap: 0px;

    background: #353535;
}