html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

header {
    position: absolute;

    width: 1920px;
    height: 150px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 86.36%;

    background: #202020;
    border-bottom: 5px solid #404040;
}

#logo {
    position: absolute;
    
    width: 300px;
    height: 150px;
    margin-left: 50px;
    margin-top: 0;
}

#logoEN {
    position: absolute;

    width: 50px;
    height: 50px;
    margin-left: 1715px;
    margin-top: 51px;

    background: url(logoEN.png);
}

#logoAUTH {
    position: absolute;

    width: 75px;
    height: 75px;
    left: 1795px;
    top: 39px;

    background: url(logoAUTH.png);
}

main {
    position: absolute;
    width: 1920px;
    height: 100px;

    margin-top: 150px;

    background: #FFFFFF;
}

.mainbox-text {
    position: absolute;

    font-size: 22px;
    color: #FFFFFF;
    text-align: center;

    margin-left: 14px;
    margin-top: 10px;
}

#logoWIN {
    position: absolute;
    width: 25px;
    height: 25px;
    
    margin-top: 11px;
    margin-left: 158px;

    background: url(logoWIN.png);
}

#logoANDROID {
    position: absolute;
    width: 40px;
    height: 40px;

    margin-left: 148px;
    margin-top: 3px;

    background: url(logoANDROID.png);
}

.box-link {
    position: absolute;

    width: 200px;
    height: 50px;

    margin-top: 25px;

    background: #202020;
    border: 2px solid #404040;
    border-radius: 10px;
}

#box-link1 {
    position: absolute;
    margin-left: 1475px;
}

#box-link2 {
    position: absolute;
    margin-left: 1700px;
}

#rutPhoto {
    position: absolute;
    width: 1920px;
    height: 440px;

    margin-top: 100px;

    background: url(photo_2023-04-07_03-18-03.jpg);
}

footer {
    position: absolute;
    width: 1920px;
    height: 440px;

    margin-top: 690px;

    background-color: #202020;
}

.footerbox {
    position: absolute;
    width: 820px;
    height: 320px;

    margin-top: 30px;

    background: #202020;
    border: 10px solid #FFFFFF;
}

#footer-box1 {
    margin-left: 90px;
}

#footer-box2 {
    margin-left: 1010px;
}

#aboutUS {
    position: absolute;
    font-size: 56px;
    font-weight: 500;

    margin-top: 20px;
    margin-left: 25px;
    color: #ffffff;
}

#instruction {
    position: absolute;
    font-size: 40px;
    font-weight: 500;

    margin-top: 30px;
    margin-left: 250px;
    color: #ffffff;
}

.footer-button {
    position: absolute;
    width: 300px;
    height: 50px;
    margin-top: 210px;
    
    background: #202020;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}

#footer-button1 {
    margin-left: 80px;
}

#footer-button2 {
    margin-left: 420px;
}

.footer-button-text {
    position: absolute;
    font-size: 30px;
    font-weight: 300;
    margin-top: 5px;

    color: #ffffff;
}

#footer-button-text1 {
    margin-left: 38px;
}

#footer-button-text2 {
    margin-left: 42px;
}